.avatar {
    display: flex;
    justify-content: space-between;
}

body {background-color: brown;

}
h1 {
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #dddd;
    color: rgb(245, 231, 220);
}
h2 {
    text-align: center;
    color: gray;
    font-size: 40px;
}
h4 p {
    text-align: center;
    color: black;
    font-size: 20px;
}

div:hover {
    border: 5px solid chocolate;
}

.avatar img {
    width: 200px;
    height: auto;
}
